@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');
@import "tailwindcss";

/* デザイン変数の定義 */
@theme inline {
  /* 背景色 */
  --color-main: #8f8b8a;
  --color-sub: #b0cab4;
  --color-accent: #e5e2de;
  /* 文字色 */
  --color-main-text: #e5e2de;
  --color-sub-text: #FFFFFF;
  --color-accent-text: #666666;
  /* フォントの追加 */
  --font-main: "WDXL Lubrifont JP N", sans-serif;
  --font-display: "WDXL Lubrifont JP N", sans-serif;
}


/* 標準タグのスタイル設定 */
@layer base {

  /* 全共通 */
  body {
  
    @apply bg-main text-main-text;
    @apply font-main;
    @apply antialiased min-h-screen;/* 文字を読みやすくする設定 */

  }

  /* 大枠 */
 header {
    @apply bg-sub text-sub-text; 
    @apply z-50 w-full; /* 最前面＋最大領域 */
    
  }
  nav{
    @apply bg-main/75 text-sub-text backdrop-blur-md; 
    @apply z-50 w-full; /* 最前面＋最大領域 */
    @apply border-y-2 border-sub;
  }

  
  main {
    @apply max-w-4xl mx-auto px-6 py-12;/* 左右の余白と最大幅 */
    
  }
  footer {
    @apply bg-sub text-sub-text; /* 背景＋文字 */
    @apply py-8 text-center; /* パディング＋中央寄せ */
  }

    /* 小枠 */
  h1 {
    @apply text-3xl font-bold text-main-text;
  }
  p {
    @apply leading-relaxed text-main-text;
  }



}

/* 独自のユーティリティ作成 */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}