@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=WDXL+Lubrifont+JP+N&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";



:root {

  /* ーーーー　通常　モード　ーーーー */
  --base:   #eee;
  --main:   #fff;
  --accent: #08b;
  --text:      #555;
  --text-soft: #999;
  --border:    #ccc;
  /* ーーーー　ダークモード　ーーーー */
  --dark-base:   #111;
  --dark-main:   #222;
  --dark-accent: #3cf;
  --dark-text:      #ddd;
  --dark-text-soft: #999;
  --dark-border:    #444;
  /* ーーーーーーーーーーーーーーーー */

}



@theme {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* ーーーー 色 ーーーー */
  --color-base: var(--base);
  --color-main: var(--main);
  --color-acnt: var(--accent);
  --color-text: var(--text);
  --color-text-soft: var(--text-soft);
  --color-border: var(--border);

}

/* --- 基本設定（ダークモード） --- */
@media (prefers-color-scheme:dark) {
  :root {
  
  /* ーーーー 色 ーーーー */
  --color-base: var(--dark-base);
  --color-main: var(--dark-main);
  --color-acnt: var(--dark-accent);
  --color-text: var(--dark-text);
  --color-text-soft: var(--dark-text-soft);
  --color-border: var(--dark-border);

  }
}



/* デザイン変数の定義 */
@theme inline {
  /* フォントの追加 */
  --font-base:  "M PLUS 1 Code", monospace;
  --font-accent: "WDXL Lubrifont JP N", sans-serif;
}



/* 標準タグのスタイル設定 */
@layer base {

  html {
    @apply bg-main text-text border-border;
    @apply font-base;
    @apply mx-auto;
  }
  body {
    min-width: 320px;
    @apply antialiased min-h-screen;/* 文字を読みやすくする設定 */
  }


  /* 大枠 */
 header {
    @apply z-50 w-full;/* 最前面＋最大領域 */
    @apply bg-main text-acnt;
    @apply border-b border-border;
  }
  nav {
    @apply z-50 w-full;/* 最前面＋最大領域 */
    @apply bg-main text-text;
    @apply border-b border-border;
    @apply sticky top-0;
  }
  main {
    @apply w-full max-w-6xl flex flex-col px-2 md:px-8;
    @apply bg-main text-text;
  }
  footer {
    @apply z-50 w-full;/* 最前面＋最大領域 */
    @apply bg-main text-text;
    @apply border-t border-border;
  }


    /* 小枠 */
  h1 {
    @apply text-text text-3xl font-bold;
    @apply my-2;
  }
  h2 {
    @apply text-text text-2xl font-bold;
    @apply my-2;

  }
  h3 {
    @apply text-text text-xl font-bold;
    @apply my-2;

  }
  p {
    @apply text-text text-lg font-normal;
    @apply leading-relaxed;
  }



  img, video, canvas, svg {
    max-width: 100%;
    height: auto;
  }

}

/* 独自のユーティリティ作成 */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}