@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=WDXL+Lubrifont+JP+N&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";


:root {

  /* ーーーー　通常　モード　ーーーー */
  /* ベース */
  --base: #ffffff;
  --base-fill: #eeeeee;
  --base-line: #cccccc;
  /* メイン */
  --main: #003366;
  --main-fill: #ddeeff;
  /* アクセント */
  --accent: #ffcc33;
  --accent-fill: #ffffcc;
  /* 文字 */
  --text: #444444;
  --text-soft: #888888;
  --text-hard: #000000;
  --main-text: #ffffff;
  --accent-text: #ffffff;
  /* ーーーー　ダークモード　ーーーー */
  /* ベース */
  --dark-base: #111111;
  --dark-base-fill: #222222;
  --dark-base-line: #444444;
  /* メイン */
  --dark-main: #006633;
  --dark-main-fill: #003311;
  /* アクセント */
  --dark-accent: #99cc00;
  --dark-accent-fill: #113300;
  /* 文字 */
  --dark-text: #dddddd;
  --dark-text-soft: #aaaaaa;
  --dark-text-hard: #ffffff;
  --dark-main-text: #ffffff;
  --dark-accent-text: #ffffff;
  /* ーーーーーーーーーーーーーーーー */


  








}



/* Tailwind のテーマとして登録 */
@theme {



  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* ーーーー 色　ーーーー */
  --color-base: var(--base);
  --color-base-fill: var(--base-fill);
  --color-base-line: var(--base-line);
  --color-main: var(--main);
  --color-main-fill: var(--main-fill);
  --color-acnt: var(--accent);
  --color-acnt-fill: var(--accent-fill);

  --color-text: var(--text);
  --color-text-soft: var(--text-soft);
  --color-text-hard: var(--text-hard);
  --color-main-text: var(--main-text);
  --color-acnt-text: var(--accent-text);


  --color-bg:   #ddeeff;
  --color-text: #444444;
  --color-text-soft: #888888;

  --color-base: #ffffff;
  --color-hover: #eeeeee;
  --color-border: #dddddd;

  --color-main: #003366;
  --color-acnt: #ffcc33;



}

/* --- 基本設定（ダークモード） --- */
@media (prefers-color-scheme:dark) {
  :root {
  
  /* ーーーー 色　ーーーー */
  --color-base: var(--dark-base);
  --color-base-fill: var(--dark-base-fill);
  --color-base-line: var(--dark-base-line);
  --color-main: var(--dark-main);
  --color-main-fill: var(--dark-main-fill);
  --color-acnt: var(--dark-accent);
  --color-acnt-fill: var(--dark-accent-fill);
 
  --color-text: var(--dark-text);
  --color-text-soft: var(--dark-text-soft);
  --color-text-hard: var(--dark-text-hard);
  --color-main-text: var(--dark-main-text);
  --color-acnt-text: var(--dark-accent-text);

  }
}



/* デザイン変数の定義 */
@theme inline {
  /* フォントの追加 */
  --font-base:  "M PLUS 1 Code", monospace;
  --font-accent: "WDXL Lubrifont JP N", sans-serif;
}



/* 標準タグのスタイル設定 */
@layer base {


  html {
    @apply bg-bg text-text border-border;
    @apply font-base;
        @apply max-w-7xl mx-auto;
  }

  /* 全共通 */
  body {
    min-width: 320px;
    @apply antialiased min-h-screen;/* 文字を読みやすくする設定 */
  }



  /* 大枠 */
 header {
    @apply z-50 w-full;/* 最前面＋最大領域 */
    @apply bg-main text-main-text;
  }
  nav {
    @apply z-50 w-full;/* 最前面＋最大領域 */
    @apply bg-base;
  }
  main {
    @apply max-w-5xl mx-auto;
  }
  footer {
    @apply z-50 w-full;/* 最前面＋最大領域 */
    @apply bg-main text-main-text;
  }



    /* 小枠 */
  h1 {
    @apply text-3xl font-bold;
    @apply my-2;
  }
  h2 {
    @apply text-2xl font-bold;
    @apply my-2;

  }
  h3 {
    @apply text-xl font-bold;
    @apply my-2;

  }
  p {
    @apply text-lg font-normal;
    @apply leading-relaxed;
  }



  


  img, video, canvas, svg {
    max-width: 100%;
    height: auto;
  }

}

/* 独自のユーティリティ作成 */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}